.animasi-in-opacity{
  visibility: visible;
  animation: animasiopacity 3500ms;
}
.animasi-in-top{
  visibility: visible;
  position: relative;
  animation: animasitop 1s;
}
.animasi-in-right{
  visibility: visible;
  position: relative;
  animation: animasiright 1s;
}
.animasi-in-bottom{
  visibility: visible;
  position: relative;
  animation: animasibottom 1s;
}
.animasi-in-left{
  visibility: visible;
  position: relative;
  animation: animasileft 1s;
}
.animasi-in-topleft{
  visibility: visible;
  position: relative;
  animation: animasitopleft 1s;
}
.animasi-in-topright{
  visibility: visible;
  position: relative;
  animation: animasitopright 1s;
}
.animasi-in-bottomleft{
  visibility: visible;
  position: relative;
  animation: animasibottomleft 1s;
}
.animasi-in-bottomright{
  visibility: visible;
  position: relative;
  animation: animasibottomright 1s;
}
.animasi-in-zoom{
  visibility: visible;
  animation: animasizoom 1s;
}
.animasi-fade{
  visibility: visible;
  animation: animasifading 3s infinite;
}

/* Keyframes */
@keyframes animasiopacity{
  from{
    opacity:0;
  } to{
    opacity:1;
  }
}
@keyframes animasitop{
  from{
    top: -300px;
    opacity: 0;
  } to{
    top: 0;
    opacity: 1;
  }
}
@keyframes animasiright{
  from{
    right: -300px;
    opacity: 0;
  } to{
    right: 0;
    opacity: 1;
  }
}
@keyframes animasibottom{
  from{
    bottom: -300px;
    opacity: 0;
  } to{
    bottom: 0;
    opacity: 1;
  }
}
@keyframes animasileft{
  from{
    left: -300px;
    opacity: 0;
  } to{
    left: 0;
    opacity: 1;
  }
}
@keyframes animasitopleft{
  from{
    top: -300px;
    left: -300px;
    opacity: 0;
  } to{
    top: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes animasitopright{
  from{
    top: -300px;
    right: -300px;
    opacity: 0;
  } to{
    top: 0;
    right: 0;
    opacity: 1;
  }
}
@keyframes animasibottomleft{
  from{
    bottom: -300px;
    left: -300px;
    opacity: 0;
  } to{
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes animasibottomright{
  from{
    bottom: -300px;
    right: -300px;
    opacity: 0;
  } to{
    bottom: 0;
    right: 0;
    opacity: 1;
  }
}
@keyframes animasizoom{
  from{
    opacity: 0;
    transform: scale(0.8);
  } to{
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes animasifading{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes pulse {
  from {
    opacity: .4;
    top: 0;
  }
  50% {
    opacity: 1;
    top: -10px;
  }
  to {
    opacity: .4;
    top: 0;
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
