.author {
  background: $lightGray;
  display: table;
  width: 100%;
  padding: 2.5rem 0;
  margin: 2.5rem 0;
  .details {
    margin: auto;
    max-width: 50rem;
    padding: 0 1.25rem;
  }
  img {
    border-radius: 50%;
    display: block;
    margin: auto;
  }
  .def {
    color: #808080;
    font-size: 1.125rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: .625rem;
  }
  .name {
    margin: 0;
    a {
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      font-style: normal;
      text-decoration: none;
      color: #000;
      font-size: 1.875rem;
      &:hover {
        color: $main;
      }
    }
  }
  .desc {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: .625rem;
    font-size: 1rem;
  }
  .email {
    text-decoration: none;
    color: $main;
  }
}

.comments {
  *zoom: 1;
  width: auto;
  max-width: 50rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 1.25rem;
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  h3 {
    margin: 0 0 1.875rem;
    font-size: 1.875rem;
  }
}
