footer {
  background: $main;
  padding: 1.563rem 0;
  margin-top: 100px;
  p {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $sec;
    text-align: center;
    margin: 0;
  }
  a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $sec;
    text-align: center;
    margin: 0;
    &:hover {
      color: #900;
    }
  }
}
