.post-item {
  text-align: left;
  padding: 2.5rem 0;
  border-bottom: 3px solid $lightGray;
  *zoom: 1;
  width: auto;
  max-width: 62.5rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  .datetime {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 14.166666666666664%;
    margin-left: 0%;
    margin-right: 3%;
    text-align: center;
    text-decoration: none;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &:last-child {
      margin-right: 0%;
    }
    .day {
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      font-style: normal;
      color: $main;
      font-size: 5rem;
      line-height: 1.6;
    }
    .month-year {
      color: #000;
      font-size: 1.125rem;
    }
  }
  .content {
    *zoom: 1;
    float: left;
    clear: none;
    text-align: inherit;
    width: 82.83333333333334%;
    margin-left: 0%;
    margin-right: 3%;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    &:last-child {
      margin-right: 0%;
    }
    a {
      text-decoration: none;
    }
    .date {
      color: $main;
    }
    .post-title {
      color: #000;
      font-size: 2rem;
    }
    .description {
      color: $texts;
      font-family: 'Open Sans', sans-serif;
      font-weight: 300;
      font-style: normal;
      font-size: 1.25rem;
      a {
        color: $main;
        text-decoration: underline;
      }
    }
  }
}
