.icons-home {
  text-align: center;
  a {
    display: inline-block;
    padding: .938rem;
    margin: .125rem;
    border-radius: 50%;
    border: .125rem solid $sec;
    line-height: 0;
    transition: all .7s;
    .icon {
      fill: $sec;
      width: 18px;
      height: 18px;
    }
    &:hover {
      background: $sec;
      .icon {
        fill: $main;
      }
    }
  }
}

.down {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: block;
  text-align: center;
  .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: $sec;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
  }
}
