.post-content {
  padding: 2.5rem 0;
  img {
    max-width: 100%;
    margin: 1.875rem auto;
    display: block;
  }
  p, h1, h2, h3, h4, ul, ol, .tags, iframe {
    *zoom: 1;
    width: auto;
    max-width: 50rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    padding: 0 1.25rem;
    margin: 0 auto 1.875rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 2;
    letter-spacing: .01rem;
  }
  p:before, h1:before, h2:before, h3:before, h4:before, ul:before, ol:before, .tags:before, iframe:before, p:after, h1:after, h2:after, h3:after, h4:after, ul:after, ol:after, .tags:after, iframe:after {
    content: '';
    display: table;
  }
  p:after, h1:after, h2:after, h3:after, h4:after, ul:after, ol:after, .tags:after, iframe:after {
    clear: both;
  }
  p, li {
    color: $texts;
  }
  p code, li code {
    color: $colorcode;
  }
  a {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: $main;
    text-decoration: none;
    border-bottom: 2px solid $main;
  }
  iframe {
    margin-top: 1.875rem;
    width: 100%;
  }
  #twitter-widget-0 {
    margin: auto !important;
  }
  h1, h2, h3, h4, h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  h1 {
    font-size: 1.875rem;
    line-height: 1.4;
  }
  h2 {
    font-size: 1.375rem;
    line-height: 1.4;
  }
  h3 {
    font-size: 1.125rem;
    line-height: 1.4;
  }
  ul, ol {
    padding-left: 2.5rem;
  }
  ul.post-list {
    padding: 0;
  }
  blockquote {
    *zoom: 1;
    width: auto;
    max-width: 45.625rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    border-left: .313rem solid $main;
    padding: 0 1.875rem;
    margin: 3.125rem auto;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    p {
      color: rgba(0, 0, 0, 0.6);
      margin: 0;
    }
  }
  hr {
    *zoom: 1;
    width: auto;
    max-width: 47.5rem;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid $lightGray;
    margin: 50px auto;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
}

.share {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  border-top: 1px solid $lightGray;
  padding-top: 1.25rem;
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  svg {
    margin: .938rem;
    width: 35px;
    height: 35px;
  }
  a {
    text-decoration: none;
    &:hover svg {
      fill: $main;
    }
  }
}

table {
  margin: 3.125rem auto;
  th, td {
    border: .125rem solid #ccc;
    padding: 0.313rem;
  }
}

.tag-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2.25rem;
  padding-top: 4.063rem;
  *zoom: 1;
  width: auto;
  max-width: 50rem;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  &:before {
    content: '';
    display: table;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

.post-list {
  list-style: none;
  margin: 0 auto !important;
  a {
    display: block;
    border-bottom: 1px solid #dadada;
    padding: .625rem 0;
    text-decoration: none;
    transition: all .5s;
    &:hover {
      color: $hover;
      border-bottom: 1px solid $hover;
    }
  }
  .entry-date {
    float: right;
  }
}
