@media only screen and (min-width: $cut) {
  .icons-home a .icon {
    width: 30px;
    height: 30px;
  }
  .header-site .site-title {
    margin-bottom: 0;
    font-size: 6.25rem;
  }
  .header-site .site-description {
    font-size: 2.5rem;
  }
  .header-post .content {
    *zoom: 1;
    width: auto;
    max-width: 1000px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    &:before {
      content: '';
      display: table;
    }
    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }
  .header-post .subheader a {
    padding: 0 10px;
  }
  .header-post h1 {
    font-size: 3.75rem;
  }
  .post-content {
    p, h1, h2, h3, h4, ul, ol, .tags, iframe {
      font-size: 1.25rem;
    }
  }
  .post-content h1 {
    font-size: 2.813rem;
  }
  .post-content h2 {
    font-size: 2.188rem;
  }
  .post-content h3 {
    font-size: 1.563rem;
  }
  pre {
    font-size: 1rem;
    padding: 2.5rem 0;
    margin: 3.125rem 0;
  }
  .highlight {
    word-wrap: break-word;
  }
  .author {
    padding: 3.125rem 0;
  }
  .author img {
    float: left;
    margin-right: 3.125rem;
  }
  .author .def {
    margin: 0;
    padding-top: 1.563rem;
  }
  .author .name a {
    font-size: 2.813rem;
  }
  .author .desc {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: $cut) {
  #search-container.search-overlay:after {
    background-color: $main;
  }
  .post-item .datetime {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
  }
  .post-item .datetime .day {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
  }
  .post-item .content {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    &:first-child {
      margin-left: auto;
    }
    &:last-child {
      margin-right: auto;
    }
  }
  .post-item .content .post-title {
    text-align: center;
  }
  .post-content ul.post-list {
    padding: 0 1.25rem;
  }
  .post-content blockquote {
    width: 70%;
  }
  .post-content blockquote p {
    font-size: 1.125rem;
    line-height: 1.5;
    padding: 0;
  }
  .tag-title {
    font-size: 1.75rem;
    padding: 4.063rem 1.25rem 0 1.25rem;
  }
  table {
    display: none;
  }
  .post-list {
    padding: 0 1.25rem;
  }
  .post-list .entry-date {
    display: none;
  }
  pre code {
    overflow-x: scroll;
  }
  .author .details {
    text-align: center;
  }
}

@media only screen and (min-width: 48em) {
  .search-wrapper {
    top: 100px;
  }
  .search-list .entry-date {
    display: inline;
  }
}

@media only screen and (max-width: 62.5rem) {
  .post-item {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}
