---
layout: minimal
title: "Series | Sutanlab Blog"
permalink: /series/index.html
description: "Take a look at my blog series."
image: /assets/img/bg/desk3.jpg
---

{% for tag in site.categories %}
  <span class="tag-title" id="{{ tag[0] | slugify }}">{{ tag[0] }}</span>
  <ul class="post-list">
    {% assign pages_list = tag[1] %}
    {% for post in pages_list reversed %}
      {% if post.title != null %}
        {% if group == null or group == post.group %}
          <li><a class="document-load" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}
