<section class="author" itemprop="author" style="overflow-x: hidden;">
  <div class="details" itemscope itemtype="http://schema.org/Person">
    <img data-aos="fade-right" data-aos-anchor-placement="top-center" itemprop="image" class="img-rounded" src="{{site.baseurl }}{{site.avatar}}" alt="{{site.name}}">
    <p data-aos="zoom-in" class="def">Author</p>
    <h3 class="name">
      <a data-aos="zoom-in" itemprop="name" href="https://plus.google.com/{{site.gplus_username}}/posts">{{site.username}}</a>
    </h3>
    <p data-aos="zoom-in" class="desc">{{site.user_description}}</p>
    <a data-aos="zoom-in" itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
  </div>
</section>
