<section class="author" itemprop="author" style="overflow-x: hidden;">
  <div class="details" itemscope itemtype="http://schema.org/Person">
    <img data-aos="fade-right" data-aos-anchor-placement="top-center" itemprop="image" class="img-rounded" src="{{site.avatar_url}}" alt="{{site.username}}">
    <p class="def">Author</p>
    <h3 class="name">
      <a itemprop="name" href="{{ '/about' | prepend: site.baseurl }}">{{site.username}}</a>
    </h3>
    <p class="desc">{{site.user_description}}</p>
    <a itemprop="email" class="email" href="mailto:{{site.email}}">{{site.email}}</a>
  </div>
</section>
