{% include preloader.html %}
<header style="background-image: url('{{ page.image | prepend: site.baseurl }}')" class="header-post" role="banner">
  <figure class="header-overlay"></figure>
  <div class="content" style="overflow: hidden;">
    {% if page.date %}
      <time data-aos="zoom-out" data-aos-anchor-placement="top-bottom" itemprop="datePublished" datetime="{{ page.date }}" class="date shadow-text">{{ page.date | date_to_string }}</time>
    {% endif %}
    <h1 data-aos="zoom-in" data-aos-anchor-placement="top-bottom" class="post-title shadow-text" itemprop="name">{{ page.title | replace: " | Sutanlab Blog", "" }}</h1>
    <p data-aos="fade-up" data-aos-anchor-placement="top-bottom" itemprop="description" class="subtitle shadow-text"><b>{{ page.description }}</b></p>
  </div>
  <a class="down" data-scroll href="#content"><svg class="icon icon-angle-down"><use xlink:href="#icon-angle-down"></use></svg></a>
  {% include menu-search.html %}
</header>
