---
layout: compress
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body class="in-loading">
    {% include svg-icons.html %}
    <header class="header-post" style="background-image: url('{{ page.background | prepend: site.baseurl | prepend: site.url }}')" role="banner">
      {% include menu-search.html %}
      <div class="content">
        {{ content }}
      </div>
    </header>
    <script src="{{ "/assets/js/main.js" | prepend: site.baseurl | prepend: site.url }}"></script>
  </body>
</html>
