---
layout: compress
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body class="in-loading">
    {% include svg-icons.html %}
    {% if page.url contains "/about" %}
      {% include header-default.html %}
    {% else %}
      {% include header-post.html %}
    {% endif %}
    <section class="post" itemscope itemtype="http://schema.org/WebPage">
      <article role="article" id="content" class="post-content" role="main" itemprop="mainContentOfPage">
        {{ content }}
      </article>
      {% include footer.html %}
    </section>
  </body>
</html>
